[class*="foundicon-"]:before,
[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
}

[class*="enclosed foundicon-"]:before {
  font-family: "GeneralEnclosedFoundicons";
}

[class*="accessibility foundicon-"]:before,
[class*="a11y foundicon-"]:before {
  font-family: "AccessibilityFoundicons";
}

[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
}
