{% extends "fundatio/page.html" %}
{% from "fundatio/helpers.html" import alert %}

{% block content %}

<div class="row">
  <div class="twelve columns">

    <h1>Flask-Fundatio demo</h1>

    <hr>

    <h2>Alert boxes</h2>

    <h3><small>Alert box types</small></h3>

    <div class="row">
      <div class="six columns">
        {% call alert() %}Normal alert box{% endcall %}
        {% call alert(type="secondary") %}Secondary alert box{% endcall %}
      </div>
      <div class="six columns">
        {% call alert(type="success") %}Success alert box{% endcall %}
        {% call alert(type="alert") %}Alert box{% endcall %}
      </div>
    </div>

    <h3><small>With close button</small></h3>

    <div class="row">
      <div class="six columns">
        {% call alert(type="success", close=True) %}Success alert box (with close button){% endcall %}
      </div>
      <div class="six columns">
        {% call alert(type="secondary", close=True) %}Secondary alert box (with close button){% endcall %}
      </div>
    </div>

  </div>
</div>

{% endblock content %}
