{% macro button(
    content,
    id=None,
    href=None,
    size=None,
    type=None,
    style=None,
    attributes=None) -%}

<a class="button
  {%- if size %} {{ size }}{% endif -%}
  {%- if type %} {{ type }}{% endif -%}
  {%- if style %} {{ style }}{% endif -%}
  "
  {%- if id %} id="{{ id }}"{% endif -%}
  {%- if href %} href="{{ href }}"{% endif -%}
  {%- if attributes -%}
    {% for name, value in attributes.items() %} {{ name }}="{{ value}}"{% endfor %}
  {%- endif -%}
  >
  {{- content -}}
</a>

{%- endmacro %}


{% macro alert(type=None, close=False) -%}
<div data-alert class="alert-box{% if type %} {{ type }}{% endif %}">
  {{ caller() }}
  {% if close %}<a href="" class="close">&times;</a>{% endif %}
</div>
{%- endmacro %}
